body {
background-color: #ffeadb
}

@font-face {
  font-family: "Helvetica-25-ultra-light";
  font-face
  src: url("fonts/helvetica-25-ultra-light.otf") format("otf");
}

hr {
border-style: none;
border-top-style: dotted;
border-color: lightgrey;
border-top-width: 0.4em;
width: 5%
}

H1{color: #679b9b}
H3{color: #ff9a76}
